.inputContainer{
    padding-top: 1px;
}

.heading{
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}

input{
    height: 30px;
    width: 60%;
    padding-left: 10px;
}

.mainBtn{
    height: 35px;
    width: 50px;
    color: white;
    background-color: darkcyan;
    margin: 5px;
    border: none;
    cursor: pointer;

}
.mainBtn:hover{
    box-shadow: 0 0 3px rgba(0,0,0, 0.4);
    transition: all 500 ease;
    border-radius: 3px;
}
.mainBtn.active{
    transform: scale(.96);
}