.todoConatiner{
    background-color: rgba(255, 255, 220);
    width: 80%;
    height: 450px;
    margin: 5% 10%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0);
    border-radius: 10px;
}