*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: rgb(32, 17, 6);
    font-weight: 800;
    word-spacing: 5px;
    font-size: 50px;
}

.counter-privew{
    font-size: 100px;
    font-weight: 800;
    color: black;
}

.decrement{
    color: #fff;
    font-size: 20px;
    background-color: red;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.decrement:hover {
    text-decoration: none;
    background-color: blueviolet;
}


.reset{
    color: red;
    font-size: 20px;
    background-color: yellow;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.reset:hover {
    text-decoration: none;
    background-color: gray;
}

.increment{
    color: #fff;
    font-size: 20px;
    background-color: green;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.increment:hover {
    text-decoration: none;
    background-color: greenyellow;
    
}
